{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Test{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Test</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}

{#-------------------------------------------------------------------------#}
